# web
NEXT_PUBLIC_API_BASE_URL=http://localhost:3001

# api
AWS_REGION=us-west-2
TABLE_CARDS=Cards
TABLE_PRICES=Prices
TABLE_LATEST_PRICES=LatestPrices
TABLE_HOLDINGS=Holdings
TABLE_ALERTS_BY_USER=AlertsByUser
TABLE_ALERTS_BY_CARD=AlertsByCard
TABLE_SIGNALS=Signals

# pipeline
RAW_BUCKET=pokepredict-raw-dev
SOURCE_NAME=fixture
INGEST_SCHEDULE_CRON=cron(0 6 * * ? *)
SEED_CARDS_FILE=./data/cards.seed.json

# infra
CDK_DEFAULT_ACCOUNT=000000000000
CDK_DEFAULT_REGION=us-west-2
